<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
        ">

<!--    <bean id="person" name="person1,person2,person3" class="com.mashibing.Person">-->
<!--        <description>描述信息</description>-->
<!--        &lt;!&ndash;constructor标签解析&ndash;&gt;-->
<!--        <constructor-arg index="0" value="2"></constructor-arg>-->
<!--        <constructor-arg index="1" value="1"></constructor-arg>-->

<!--        <property name="id" value="1"></property>-->
<!--        <property name="name" value="zhangsan"></property>-->
<!--    </bean>-->

    <bean id="customer" class="com.mashibing.e_bf_prepared.Customer">
        <property name="name" value="zhangsan   "></property>
        <property name="address" value="河北省_邯郸市_武安市"></property>
    </bean>

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
                <bean class="com.mashibing.e_bf_prepared.AddressPropertyEditorRegistrar"></bean>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="com.mashibing.e_bf_prepared.Address">
                    <value>com.mashibing.e_bf_prepared.AddressPropertyEditor</value>
                </entry>
            </map>
        </property>
    </bean>

</beans>